@import "./base/variables";
@import "./base/mixin";



*{
  margin: 0;
  padding: 0;  
}

body{
background-color: map-get($map: $palette, $key: 'gris');
}

%flexcent{
    display: flex;
    justify-content: center;
    align-items: center;}


.extender{
    justify-content: flex-end;
}

.contenedor{
@extend %flexcent;
    flex-direction: column;
    width: 35rem; 
}

.padtextos{
    padding: 1%;
}

.text{
    @extend %flexcent;
flex-direction: column;
}

.logocactus{
    @extend %flexcent;
}

.cajaimg{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;    
}

.tarj{
@include tarje  (map-get($map: $palette, $key: 'blanco'))
}

.tarj1{
@include tarje (map-get($map: $palette, $key: 'crema'))
}

.tarj2{
@include tarje (map-get($map: $palette, $key: 'gris claro'))
}

.tarj3{
@include tarje (map-get($map: $palette, $key: 'gris medio'))
}

.tarj4{
@include tarje (map-get($map: $palette, $key: 'gris'))
}

.tarj5{
@include tarje (map-get($map: $palette, $key: 'gris oscuro'))  
}

.twitter{
    width: 100rem;
    height: 100rem;
}

.mapa{
    @extend %flexcent;
}

.personal{
    display: flex;
    flex-direction: row;
}

@media (max-width: 950px){
    .personal{
        display: flex;
        flex-direction: column;
        justify-content: center;
    align-items: center;
    }
}

.ajuste{
    display: flex;
    flex-direction: row;
}

.kylie{
    width: 25rem;
    height: 25rem;
    @extend %flexcent;
}

@media (max-width: 1050px){
    .ajuste{
        display: flex;
        flex-direction: column;
        justify-content: center;
    align-items: center;
    }
   
}

.twitter{
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: row;
}

.redes{
    @extend %flexcent;
    flex-direction: row;
}

@media (max-width: 1050px){
    .redes{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}